<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
    version="1.0.0.0" id="PlayBookWall">

  <name>PlayBook Wall</name>

  <author>Gord Tanner</author>

  <description>
      App used to display a wall of images using multiple PlayBooks
  </description>

  <!-- Cordova API -->
  <access subdomains="true" uri="http://10.172.249.27:3000">
      <feature id="blackberry.system" required="true" version="1.0.0.0" />
      <feature id="org.apache.cordova" required="true" version="1.0.0" />
      <feature id="webworks.system.display" required="true" version="1.0.0.0"/>
  </access>

  <!-- Expose access to all URIs, including the file and http protocols -->
  <access subdomains="true" uri="*" />

  <content src="http://10.172.249.27:3000" />

</widget>
